form {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 450px;
  }


  .btn-submit {
    margin: 24px 0px;
    border: none;
    padding: 16px;
    background-color: #3B82F6;
    border-radius: 5px;
    width: 70px;
    color: white;
    cursor: pointer;
  }
  :disabled {
    background-color: #3b82f661;
    cursor: default;
  }
}
