form {
  .btn-submit {
    border: none;
    padding: 16px;
    background-color: #3B82F6;
    border-radius: 5px;
    width: 70px;
    color: white;
    cursor: pointer;
  }
  :disabled {
    background-color: #3b82f661;
    cursor: default;
  }
}
