<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form (ngSubmit)="onSubmit()" [formGroup]="cadastroForm" #formDir="ngForm">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input
          type="text"
          name="nome"
          id="nome"
          formControlName="nome"
          required
        />
        <div *ngIf="formInvalido">
          <error-message
            [isInvalid]="nome.errors?.['required']"
            [message]="'Campo obrigatório'"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
        />
        <div *ngIf="formInvalido">
          <error-message
            [isInvalid]="email.errors?.['required']"
            [message]="'Campo obrigatório'"
          />
          <error-message
            [isInvalid]="email.errors?.['email']"
            [message]="'Email inválido'"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="senha">Senha:</label>
        <input
          type="password"
          name="senha"
          id="senha"
          formControlName="senha"
          required
        />
        <div *ngIf="formInvalido">
          <error-message
            [isInvalid]="senha.errors?.['required']"
            [message]="'Campo obrigatório'"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="senha">Confirmação senha:</label>
        <input
          type="password"
          name="confirmaSenha"
          id="confirmaSenha"
          formControlName="confirmaSenha"
          (keyup)="confirmacaoSenhaValidate()"
          required
        />
        <div *ngIf="formInvalido">
          <error-message
            [isInvalid]="confirmaSenha.errors?.['required']"
            [message]="'Campo obrigatório'"
          />
          <error-message
            [isInvalid]="confirmaSenha.errors?.['passwordMismatch']"
            [message]="'Senhas não conferem'"
          />
        </div>
      </div>

      <input type="submit" value="{{ btnText }}" [disabled]="formInvalido" />
    </form>
  </body>
</html>
